:root {
    /* colors  */

    /* Neutral */
    --neutral--900: #062630;
    --neutral--700: #385159;
    --neutral--200: #E6E1DF;
    --neutral--100: #FAF5F3;
    --neutral--000: #ffffff;

    /* Light Salmon */
    --light--salmon--500: #FEA36F;
    --light--salmon--100: #FFE2D1;
    --light--salmon--50: #FFF5EF;

    /* Gradient */
    --text--gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    --hober--button--gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);

    /* Typography */
    --font--martin: "Martian Mono", monospace;
    --font--inter: "Inter", sans-serif;

    /* all preset typography for desktop & mobile */
    --text--preset1--font--size: 3.875rem;
    --text--preset1--mb--font--size: 2.375rem;
    --text--preset1--font--weight: 700;
    --text--preset1--line--height: 120%;
    --text--preset1--letter--spacing: -.125rem;

    --text--preset2--font--size: 3.125rem;
    --text--preset2--mb--font--size: 2.375rem;
    --text--preset2--font--weight: 600;
    --text--preset2--line--height: 120%;
    --text--preset2--letter--spacing: .125rem; 

    --text--preset3--font--size: 2.125rem;
    --text--preset3--mb--font--size: 1.5rem;
    --text--preset3--font--weight: 500;
    --text--preset3--line--height: 130%;
    --text--preset3--mb--line--height: 110%;
    --text--preset3--letter--spacing: -0.0625rem;

    --text--preset4--font--size: 1.5rem;
    --text--preset4--font--weight: 500;
    --text--preset4--regular--font--weight: 400;
    --text--preset4--line--height: 110%;
    --text--preset4--letter--spacing: -0.0625rem;

    --text--preset5--font--size: 1.25rem;
    --text--preset5--font--weight: 500;
    --text--preset5--regular--font--weight: 200;
    --text--preset5--line--height: 140%;
    --text--preset5--letter--spacing: -0.03125rem;

    --text--preset6--font--size: 1.125rem;
    --text--preset6--font--weight: 500;
    --text--preset6--line-height: 130%;
    --text--preset6--letter--spacing: -0.03125rem;
    --text--preset6--mb-font-size: 1rem;

    --text--preset7--font--size: .875rem;
    --text--preset7--font--weight: 400;
    --text--preset7--line-height: 120%;
    --text--preset7--letter--spacing: -0.03125rem;


    /* spacing */
    --spacing-0: 0;
    --spacing-025: 0.125rem;   /* 2px */
    --spacing-050: 0.25rem;    /* 4px */
    --spacing-075: 0.375rem;   /* 6px */
    --spacing-100: 0.5rem;     /* 8px */
    --spacing-150: 0.75rem;    /* 12px */
    --spacing-200: 1rem;       /* 16px */
    --spacing-250: 1.25rem;    /* 20px */
    --spacing-300: 1.5rem;     /* 24px */
    --spacing-400: 2rem;       /* 32px */
    --spacing-500: 2.5rem;     /* 40px */
    --spacing-600: 3rem;       /* 48px */
    --spacing-800: 4rem;       /* 64px */
    --spacing-1000: 5rem;      /* 80px */


    /* border radius */
    --radius-0: 0;
    --radius-4: 0.25rem;   /* 4px */
    --radius-6: 0.375rem;  /* 6px */
    --radius-8: 0.5rem;    /* 8px */
    --radius-10: 0.625rem; /* 10px */
    --radius-12: 0.75rem;  /* 12px */
    --radius-16: 1rem;     /* 16px */
    --radius-20: 1.25rem;  /* 20px */
    --radius-24: 1.5rem;   /* 24px */
    --radius-full: 62.4375rem; /* 999px */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font--martin);
    outline: 1px solid red;
}

body {
    background-color: var(--neutral--000);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* overflow: hidden; */
    /* background-image: url(../assets/images/pattern-light-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; */

}

header {
    max-width: 90rem;
    /* background-image: url(../assets/images/pattern-light-bg.svg); */
    min-height: 52.125rem;
    margin: 0 8.4375rem 0 8.4375rem;
    position: relative;
    display: block;
    z-index: 3;
}

body .header-bg {
    position: absolute;
    min-width: 100%;
    background-color: #FAF5F3;
    display: block;
    z-index: 2;

    /* max-height: 56.125rem; */


}
body .header-bg img {
    /* width: 100%; */
    max-height: 56.125rem;
    object-fit: cover;
}


header nav{
    margin: var(--spacing-400) 0 var(--spacing-1000) 0;
}

header .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.left-box .title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--text--gradient);
    font-size: var(--text--preset1--font--size);
    font-weight: var(--text--preset1--font--weight);
    letter-spacing: var(--text--preset1--letter--spacing);
    line-height: var(--text--preset1--line--height);
    background-clip: text;
    width: 80%;
    padding-bottom: var(--spacing-300);

}

.left-box .description {
    width: 70%;
    font-size: var(--text--preset5--font--size);
    font-weight: var(--text--preset5--regular--font--weight);
    font-family: var(--font--inter);
    letter-spacing: var(--text--preset5--letter--spacing);
    line-height: var(--text--preset5--line--height);
    padding-bottom: var(--spacing-400);
}

.left-box .review-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24.85rem;
    height: 4rem;
    border: 2px solid var(--neutral--900);
    border-radius: var(--radius-10);
    padding: var(--spacing-250) var(--spacing-300);
    background-color: var(--light--salmon--50);
    margin-bottom: var(--spacing-250);
    cursor: pointer;
}

.left-box .review-btn a {
    
    text-decoration: none;
    color: var(--neutral--900);
    font-size: var(--text--preset6--font--size);
    font-weight: var(--text--preset6--font--weight);
    letter-spacing: var(--text--preset6--letter--spacing);
    line-height: var(--text--preset6--line-height);
    padding-right: 4px;
    text-transform: uppercase;
}

.left-box .reviews {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.reviews .pro-img img{
    width: 6.875rem;
    padding-right: var(--spacing-200);
    /* display: b; */
}
.reviews p {
    font-size: var(--text--preset7--font--size);
    font-weight: var(--text--preset7--font--weight);
    letter-spacing: var(--text--preset7--letter--spacing);
    line-height: var(--text--preset7--line-height);
    color: var(--neutral--700);

}


.header-info .right-box {
    position: relative;
}
.header-info .right-box img{
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */
    width: 540px;
    height: 606px;
    border-radius: var(--radius-16);
}

.header-info .glow {
    position: absolute;
    width: 648px;
    height: 648px;
    top: 278px;
    right: -247px;
    /* border: 5px solid red; */
}

/* Main */
main {
    /* width: 100vw;
    display: flow-root;
    height: 100%; */
}
main .details-section {
    margin: 7.5rem 0;
    width: 1170px;
    height: 1240px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin: 7.5rem; */
}

.details-section .card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1000);
    margin-bottom: 7.5rem;
}

.details-section .card-top .left-item img{
    width: 560px;
    height: 520px;
    border-radius: var(--radius-10);
}

.details-section .card-top .right-item h3{
    font-size: var(--text--preset2--font--size);
    font-weight: var(--text--preset2--font--weight);
    line-height: var(--text--preset2--line--height);
    letter-spacing: var(--text--preset2--letter--spacing);
    padding-bottom: var(--spacing-400);
    color: var(--neutral--900);
}

.details-section .card-top .right-item .container .items {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    padding:var(--spacing-200) 0;
}


.details-section .card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1000);
}

.details-section .card-bottom .left-item h3 {
    font-size: var(--text--preset2--font--size);
    font-weight: var(--text--preset2--font--weight);
    line-height: var(--text--preset2--line--height);
    letter-spacing: var(--text--preset2--letter--spacing);
    padding-bottom: var(--spacing-400);
    color: var(--neutral--900);
}
.card-bottom .left-item h3 span {
    position: relative;
   
}
.card-bottom .left-item p, .card-bottom .left-item p span {
    font-size: var(--text--preset5--font--size);
    font-weight: var(--text--preset5--regular--font--weight);
    letter-spacing: var(--text--preset5--letter--spacing);
    line-height: var(--text--preset5--line--height);
    color: var(--neutral--700);

}

.card-bottom .left-item p span {
    font-weight: var(--text--preset5--font--weight);
}


.card-bottom .left-item h3 img {
    position: absolute;
    top: 55px;
    right: 288px;
}


.details-section .card-bottom .right-item img:first-child {
    width: 560px;
    height: 520px;
    border-radius: var(--radius-10);
}

.details-section .card-bottom .right-item {
    position: relative;
}

.card-bottom .right-item img:last-child{
    width: 100px;
    position: absolute;
    left: -10%;
    bottom: 5%;
}

/* reading section  */

.reading-journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1170px;
    height: 454px;
    padding: var(--spacing-800) 0;
    background-image: url(../assets/images/pattern-light-bg.svg);
    background-color: var(--neutral--100);
    overflow: hidden;
    position: relative;
    margin-bottom: 7.5rem;
    border-radius: var(--radius-24);
}

.reading-journey .journey-glow {
    position: absolute;
    top: 0;
    left: 50%;
}

.reading-journey h3 {
    font-size: var(--text--preset2--font--size);
    font-weight: var(--text--preset2--font--weight);
    letter-spacing: var(--text--preset2--letter--spacing);
    line-height: var(--text--preset2--line--height);
    color: var(--neutral--900);
    width: 50%;
    text-align: center;
    padding-bottom: var(--spacing-800);
}

.reading-journey .journey-steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* flex-direction: c; */
}

.journey-steps .step-one, .step-two, .step-three, .step-four {
    width: 226.5px;
    height: 110px;
    position: relative;
}

.reading-journey .journey-steps p {
    font-size: var(--text--preset6--font--size);
    font-weight: var(--text--preset6--font--weight);
    letter-spacing: var(--text--preset6--letter--spacing);
    line-height: var(--text--preset6--line-height);
    color: var(--neutral--900);
}

.reading-journey .journey-steps .number-box {
    width: 40px;
    height: 40px;
    border: 1px solid var(--neutral--900);
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.step-one img, .step-two img, .step-three img {
    position: absolute;
    top: 10%;
    left: 70%;
}

/* pricing section  */
.price-section {
    width: 970px;
    height: 519px;
    margin: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price-section h3 {
    font-size: var(--text--preset2--font--size);
    font-weight: var(--text--preset2--font--weight);
    letter-spacing: var(--text--preset2--letter--spacing);
    line-height: var(--text--preset2--line--height);
    color: var(--neutral--900);
    margin-bottom: var(--spacing-800);
}

.price-section .membership-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--spacing-300);
}

.membership-option .starter, .enterprise {
    width: 286px;
    height: 100%;
    background-color: var(--neutral--000);
    border: 1px solid var(--neutral--200);
    border-radius: var(--radius-10);
    padding: var(--spacing-600) var(--spacing-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership-option .pro {
    width: 350px;
    height: 110%;
    background-color: var(--neutral--100);
    border: 1px solid var(--neutral--200);
    border-radius: var(--radius-10);
    position: relative;
    overflow: hidden;
    padding: var(--spacing-600) var(--spacing-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership-option .pro .pro-glow {
    position: absolute;
    top: 0%;
    right: -170%;
}

.starter p:first-child, .pro p:first-child, .enterprise p:first-child  {
    font-size: var(--text--preset4--font--size);
    font-weight: var(--text--preset4--font--weight);
    letter-spacing: var(--text--preset4--letter--spacing);
    line-height: var(--text--preset4--line--height);
    color: var(--neutral--900);
    padding-bottom: var(--spacing-300);
}

.starter p:nth-of-type(2),.pro p:nth-of-type(2),.enterprise p:nth-of-type(2) {
    font-size: var(--text--preset3--font--size);
    font-weight: var(--text--preset3--font--weight);
    line-height: var(--text--preset3--line--height);
    letter-spacing: var(--text--preset3--letter--spacing);
    color: var(--neutral--900);
    padding-bottom: var(--spacing-300);
}

.starter p:nth-of-type(2) span, 
.pro p:nth-of-type(2) span,
.enterprise p:nth-of-type(2) span {
    color: var(--neutral--700);
    font-size: var(--text--preset5--font--size);
    font-weight:var(--text--preset5--regular--font--weight);
    line-height: var(--text--preset5--line--height);
    letter-spacing: var(--text--preset5--letter--spacing);
    font-family: var(--font--inter);
}

.starter span:empty, .pro span:empty, .enterprise span:empty {
    border: 1px solid var(--neutral--200);
    /* display: block; */
    /* margin-bottom: var(--spacing-300); */
}

.price-section .details .detail-one, .detail-two {
    display: flex;
    gap: var(--spacing-150);
    align-items: center;
    
    
}
.price-section .detail-two {
    padding-bottom: 2rem;
}

.price-section .detail-one, .price-section .detail-two {
    margin: var(--spacing-200) 0;
}

.price-section .subs-btn {
    text-decoration: none;
    padding: var(--spacing-250) var(--spacing-300);
    border: 1px solid var(--neutral--900);
    border-radius: var(--radius-10);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--light--salmon--50);
    color: var(--neutral--900);


    font-size: var(--text--preset6--font--size);
    font-weight: var(--text--preset6--font--weight);
    letter-spacing: var(--text--preset6--letter--spacing);
    line-height: var(--text--preset6--line-height);
}

/* Review section */
.review-section {
    width: 970px;
    margin: 0 7.5rem 7.5rem 7.5rem;
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.review-section h3 {
    font-size: var(--text--preset3--font--size);
    font-weight: var(--text--preset3--font--weight);
    line-height: var(--text--preset3--line--height);
    letter-spacing: var(--text--preset3--letter--spacing);
    text-align: center;
    color: var(--neutral--900);
}

.review-section p {
    color: var(--neutral--700);
    font-family: var(--font--inter);
    font-size: var(--text--preset5--font--size);
    font-weight: var(--text--preset5--regular--font--weight);
    letter-spacing: var(--text--preset5--letter--spacing);
    line-height: var(--text--preset5--line--height);
}

/* footer section */
footer {
    background-image: url(../assets/images/pattern-light-bg.svg);
    padding: var(--spacing-1000);
    /* padding-top: 0; */
    width: 100%;
    background-color: var(--neutral--900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 521px;
    /* align-items: center; */
}

.footer-top .left-box {
    display: flex;
    width: 753px;
    height: 307;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--spacing-1000);

}

.title-footer {
    color: var(--neutral--200);
    font-size: var(--text--preset2--font--size);
    font-weight: var(--text--preset2--font--weight);
    line-height: var(--text--preset3--line--height);
    letter-spacing: var(--text--preset3--letter--spacing);
    text-align: center;
    padding-bottom: var(--spacing-500);
}

footer .left-box .ratings p {
    color: var(--neutral--000);
}


footer span:empty {
    border: 1px solid var(--neutral--700);
    width: 100%;
    /* display:  block; */
    margin-bottom: var(--spacing-300);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-300);
}

.footer-bottom p {
    color: var(--neutral--000);
    font-size: var(--text--preset7--font--size);
    font-weight: var(--text--preset7--font--weight);
    line-height: var(--text--preset7--line-height);
    letter-spacing: var(--text--preset7--letter--spacing);
}

.footer-bottom .icons {
    display: flex;
    gap: var(--spacing-150);
    align-items: center;
    justify-content: center;
}

/* media quaries for tablet  */

@media (min-width: 48rem) and (max-width: 64rem) {
    body {
        flex-direction: column;
        overflow-x: hidden;
        margin: 0;
        /* width: ; */
    }
    .header-bg {
        /* max-width: 100%; */
        height: 1600px;
        max-width: 100%;

    }

    header {
        width: 704px;
        max-height: 100%;
        /* margin: var(--spacing-800) var(--spacing-400); */
        /* position: relative; */
        

        /* justify-content: center; */
        /* align-items: center; */
        /* overflow: hidden; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    nav {
        width: 100%;
        /* height: ; */
    }
    .header-info {
        /* display: flex; */
        flex-direction: column;
        /* margin: 0 auto; */
        gap: var(--spacing-500);
        /* text-align: center; */
        /* overflow: hidden; */

        /* justify-content: center; */
        align-items: center;
    }

    .header-info .left-box .title {
        width: 80%;
        padding-bottom: var(--spacing-300);

    }

    .header-info .left-box .description {
        width: 100%;

    }

    .header-info .left-box .review-btn {
        /* padding-bottom: var(--spacing-800); */
    }

    .header-info .left-box .reviews {
        padding-bottom: var(--spacing-800);
    }

    .header-info .right-box {
        width: 100%;

    }

    .header-info .right-box img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: var(--radius-16);

    }

    .header-info .right-box .glow {
        width: 648px;
        height: 648px;
        bottom: -92%;
        right: -151px;
        border: 5px solid red;
        overflow: hidden;
    }

    main .details-section{

    }
    


}
